<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>23.02.2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto asperiores at dolor dolore dolorem dolores eaque incidunt laborum libero nemo nesciunt, nulla odit officia perferendis perspiciatis, placeat praesentium quisquam rem repellendus saepe similique totam. Accusamus amet consequatur debitis eligendi esse, magni molestiae nisi officia recusandae similique suscipit tempora ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto asperiores at dolor dolore dolorem dolores eaque incidunt laborum libero nemo nesciunt, nulla odit officia perferendis perspiciatis, placeat praesentium quisquam rem repellendus saepe similique totam. Accusamus amet consequatur debitis eligendi esse, magni molestiae nisi officia recusandae similique suscipit tempora ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto asperiores at dolor dolore dolorem dolores eaque incidunt laborum libero nemo nesciunt, nulla odit officia perferendis perspiciatis, placeat praesentium quisquam rem repellendus saepe similique totam. Accusamus amet consequatur debitis eligendi esse, magni molestiae nisi officia recusandae similique suscipit tempora ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto asperiores at dolor dolore dolorem dolores eaque incidunt laborum libero nemo nesciunt, nulla odit officia perferendis perspiciatis, placeat praesentium quisquam rem repellendus saepe similique totam. Accusamus amet consequatur debitis eligendi esse, magni molestiae nisi officia recusandae similique suscipit tempora ullam.</p>
  </div>
</div>
